body {
  color: #000;
  font-family: "Noto Sans JP", sans-serif;
  padding: 0px;
  margin: 0;
}
article ul {
	padding-left: 0px;
}
article ul li {
	list-style-type: none;
}

a{
  text-decoration: none;
  color: #333;

}
a:visited{ 
  color: #888;
 }


.red {
  color: #ff0000;
}

header {
  margin: 50px;
  margin-bottom: 150px;
  margin-top: 100px;
}

header h1 {
  font-size: 4em;
  text-align: center;
}
article {
  margin: 50px;
}

article h2 {
  margin-top: 40px;
}
article pre {
  font-size: 6pt;
  line-height: 0.7;
}

/* Style the topnav links */
nav {
  margin-bottom: 100px;
  text-align: center;
}
nav a {
  color: #333;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  border: 1px solid #333;
  margin: 5px;
}

nav a:visited {
  color: #888;
}

/* Change color on hover */
nav a:hover {
  color: #000;
}

img {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  body {
    //background-color: #00ff00;
  }
  header {
    margin: auto;
    width: 50%;
  }
  nav a {
    display: inline;
	border: none;
  }
  article {
    margin: auto;
    width: 66%;
  }
  article pre {
    font-size: 8pt;
    line-height: 0.7;
  }
  footer {
    margin: auto;
    width: 66%;
  }
}
