{{- $pathURL := .Site.BaseURL -}}
{{- $path := .Get "path" -}}
{{- $imageName := .Get "imageName" -}}
<script
  defer
  src="https://unpkg.com/img-comparison-slider@7/dist/index.js"
></script>
<link
  rel="stylesheet"
  href="https://unpkg.com/img-comparison-slider@7/dist/styles.css"
/>

<style type="text/css">
  img-comparison-slider {
    --divider-width: 2px;
    --divider-color: #c0c0c0;
    --default-handle-opacity: 0.3;
  }
  img-comparison-slider:focus-visible {
	outline-width: 0;	
  }
</style>

<div class="img-comparison-slider-container">
<img-comparison-slider id="slider" value="95" >
	<img slot="first" src='{{ print $pathURL "/hobbies/photos/" $imageName "/" $imageName "-post-processed-small.webp" }}'>
	<img slot="second" src='{{ print $pathURL "/hobbies/photos/" $imageName "/" $imageName "-original-small.webp" }}'>
</img-comparison-slider>
</div>

<script>
const slider = document.getElementById('slider');

let direction = 'right';

let counter = 0;
let move = () => {
    slider.value = slider.value + 0.15 * (direction === 'right' ? 1  : -1);
    if (slider.value >= 99) {
       direction = 'left';
		counter++;
		if (counter == 1) {
			animate = () => {};
		}
    }

    if (slider.value <= 95) {
        direction = 'right';
    }
}

let animationId;

let animate = () => {
  move();
  animationId = window.requestAnimationFrame(animate);
}

animationId = window.requestAnimationFrame(animate);

</script>
<!--<img src='{{ print $pathURL "/hobbies/photos/" $imageName "/" $imageName "-post-processed.webp" }}'>-->
