$ neofetch
<span style="color: #1793d1;">                    -`</span>                    agtonybarletta@t480 
<span style="color: #1793d1;">                   .o+`</span>                   ------------------- 
<span style="color: #1793d1;">                  `ooo/                   OS</span>: Arch Linux x86_64 
<span style="color: #1793d1;">                 `+oooo:                  Host</span>: 20L6S7YE00 ThinkPad T480 
<span style="color: #1793d1;">                `+oooooo:                 Kernel</span>: 6.1.1-arch1-1 
<span style="color: #1793d1;">                -+oooooo+:                Uptime</span>: 1 hour, 54 mins 
<span style="color: #1793d1;">              `/:-:++oooo+:               Packages</span>: 1157 (pacman) 
<span style="color: #1793d1;">             `/++++/+++++++:              Shell</span>: bash 5.1.16 
<span style="color: #1793d1;">            `/++++++++++++++:             Resolution</span>: 1920x1080 
<span style="color: #1793d1;">           `/+++ooooooooooooo/`           DE</span>: Xfce4 4.18 
<span style="color: #1793d1;">          ./ooosssso++osssssso+`          WM</span>: awesome 
<span style="color: #1793d1;">         .oossssso-````/ossssss+`         Theme</span>: Adwaita-dark [GTK2], Adwaita [GTK3] 
<span style="color: #1793d1;">        -osssssso.      :ssssssso.        Icons</span>: HighContrast [GTK2], Adwaita [GTK3] 
<span style="color: #1793d1;">       :osssssss/        osssso+++.       Terminal</span>: konsole 
<span style="color: #1793d1;">      /ossssssss/        +ssssooo/-       Terminal Font</span>: Monospace 11 
<span style="color: #1793d1;">    `/ossssso+/:-        -:/+osssso+-     CPU</span>: Intel i5-8350U (8) @ 3.600GHz 
<span style="color: #1793d1;">   `+sso+:-`                 `.-/+oso:    GPU</span>: Intel UHD Graphics 620 
<span style="color: #1793d1;">  `++:.                           `-/+/   Memory</span>: 1681MiB / 7826MiB 
<span style="color: #1793d1;">  .`                                 `/</span>
