{{ define "title" }}
  {{ title (i18n (lower .Title)) | default .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}

  <section class="container list">
	  <article>
		  <header>
    <h1>
      <a class="title-link" href="{{ .Permalink | safeURL }}">
        {{ title (i18n (lower .Title)) | default .Title }}
      </a>
    </h1>
</header>
    {{ .Content }}
	{{ if strings.Contains .Page.RelPermalink "/hobbies/photos" }}
		<ul class="photo-container">
      {{- range .Paginator.Pages -}}
	  	<li class="photo-li">
        	{{- .Render "li-photo" -}}
		</li>
      {{- end -}}
	</ul>
	{{else }}
    <ul>
      {{- range .Paginator.Pages -}}
        {{- .Render "li" -}}
      {{- end -}}
    </ul>
	{{ end }}

    {{ partial "pagination.html" . }}
</article>
  </section>
{{ end }}
